//scss variables (colors, fonts, etc.)

//colors 
$color-primary: #00bcd4;
$color-secondary: #ff9800;
$color-success: #4caf50;
$color-danger: #f44336;

// Border radius
$rounded-sm: 4px;
$rounded-md: 8px;
$rounded-lg: 16px;

// Spacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 2rem;

//fonts 
$font: 'Open Sans', sans-serif;