@use "../abstracts/variables" as v;
@use "../abstracts" as a;

.navbar {
  background-color: rgba(102, 51, 153, 1);
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(0, 0%, 100%);
  border-bottom: 1px solid white;
  // @include a.breakpoint(medium) {

  // }
  

  &__list {
    display: none;
    @include a.breakpoint(medium) {
      display: flex;
      gap: 1rem;
      list-style-type: none;
      font-size: large;
    }
  }

  &__lister {
    &:hover {
      background-color: v.$color-secondary;
    }
  }

  &__logo {
    font-size: x-large;
  }
  &__actions {
    display: none;
    @include a.breakpoint(medium) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
     @include a.breakpoint(large) {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
    }
  }
  &__button {
    padding: 10px;
    background-color: var(--color-buttom);
    border: none;
    color: hsl(0, 0%, 100%);
    text-align: center;
    //text-decoration: none; underline for text
    font-size: medium;
    cursor: pointer;
    border-radius: v.$rounded-md;
    width: 6rem;
    white-space: nowrap;
  }
  &__hamburger-icon {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    display: block;
    font-size: xx-large;
    @include a.breakpoint(medium) {
      display: none;
    }
  }
}
