@use "../abstracts/variables" as v;

.navbar {
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;

  &__list {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    font-size: large;
  }
  &__logo {
    font-size: x-large;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__button {
    background-color: var(--color-buttom);
    border: none;
    padding: 6px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    //text-decoration: none; underline for text
    font-size: medium;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: v.$rounded-md;
    width: 6rem;
    white-space: nowrap;
  }
}
