@use "../abstracts/" as a;
.home-search-form {
  padding: 2.5rem;
  //padding: 0;
  //border: green solid;
  display: flex;
  flex-direction: column;
  color: hsl(39, 100%, 50%);
  //background-color: rgba($color: purple, $alpha: 0.2);
  background-color: rgba(102, 51, 153, 0.3);
  gap: 0.8rem;
  border-radius: 1rem;
  div {
    display: flex;
    flex-direction: column;
    text-align: start;
    //gap: 0.3rem;
  }
  @include a.breakpoint(medium) {
    margin-inline: 0;
    //margin: 2rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0;
    //align-items: center;
    gap: 1rem;
  } 
   @include a.breakpoint(large) {
      justify-content: center;
    }

  input {
    margin-top: 0.4rem;
    padding: 0.5rem;
    background-color: rgba(213, 206, 206, 0.8);
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    //box-sizing: border-box;
  }
  button {
    margin-top: 1rem;
    height: 2rem;
    border: thin;
    background-color: hsl(193, 95%, 48%);
    border-radius: 0.5rem;
    .search-icon {
      scale: 1;
      font-size: x-large;
    }
    @include a.breakpoint(medium) {
      margin-top: 1.3rem;
      //width: 5rem;
      //padding: 0;
      height: 2.2rem;
      //padding: 0.5rem;
      // border: thin;

      border-radius: 10px;
    }
  }
  button .search-icon {
    font-size: x-large;
  }
}
